/* Leaderboard.css */
.leader-board-container {
  margin: 50px auto;
  width: 80%;
  max-width: 600px;
  background: #1a1a1a27;
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.Leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.Leaderboard-table th,
.Leaderboard-table td {
  padding: 12px;
  border-bottom: 1.5px solid #971010;
}

.Leaderboard-table th {
  background-color: #0000001f;
  color: rgb(255, 0, 0);
}

.Leaderboard-table tr:hover {
  transform: scale(1.03);
}
.Leaderboard-table tr:first-child {
  cursor: pointer;
  color: white;
}

.PlayAgain{
    padding: 12px 25px;
    border: 0;
    border-radius: 12px;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin-top: 2%;
    color: rgb(200, 200, 200);
    background-color: rgba(0, 0, 0, 0.295);
}

a{
    text-decoration: none;
    color: rgba(240, 0, 0, 0.538);
}

