
.movie-guess-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 20dvh;
    text-align: center;
    color:rgba(255, 18, 18, 0.901);
    font-family: "Impact";
    opacity: 60%;
    letter-spacing: 15px;
    text-transform: uppercase;
}
.dots::after {
    content: '.';
    animation: dots 1.5s steps(1, end) infinite;
}
@keyframes dots {
    0%   { content: '.'; }
    33%  { content: '..'; }
    66%  { content: '...'; }
    100% { content: '.'; }
}

.Aramikalaama{
    height: 8%;
    width: 20%;    
    border-radius: 15px;
    text-align: center;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    background: rgba(18, 1, 1, 0.173);
    border: 2px;
    letter-spacing: 2px;
}

.Aramikalaama:hover{
    height: 8%;
    width: 20%;    
    border-radius: 15px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-size: xx-large;
    letter-spacing: 2px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 10dvh;
        letter-spacing: 5px;
    }

    .Aramikalaama {
        width: 80%;
        opacity: 60%;
        font-size: 25px;
        background-color: rgb(0, 0, 0);
    }
}