/* App.css or index.css */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url("./images/martin-scorsese-1024x576.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}


@media (max-width: 700px) {
  body {
    margin: 0;
    padding: 0;
    height: 100dvh;
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)) ,url("./images/martin-scorse-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
  }
}
