/* App.css or index.css */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),
      url("D:/For my learning/Movie Guess/MovieGuesser/assets/martin-scorsese-1024x576.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}